extends layout

block content 

    form(id="productsForm") 
        div
            input(type= "text" id="title-input" placeholder="Producto" name="title" required)
            label(for="title-input")="Producto"
        div
            input(type= "text" id="price-input" placeholder="$" name="price" required)
            label(for="price-input")= "$"
        button(type="submit")="Enviar"
    div 
        include products.pug
       
        
