doctype html 
html 
    head 
        title="Pug test"
    body 
        p="eee?"
        block content
        script(src="/socket.io/socket.io.js")
        script(src="/javascript/clientSocket.js")

        
